* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bg1 {
    position: absolute;
    height: 20rem;
    width: 100%;
    left: 0rem;
    top: 0rem;
    background: red;
}
.bg2 {
    position: relative;
    height: 20rem;
    width: 100%;
    top: -20rem;
    background: yellow;
}
.bg3 {
    position: relative;
    height: 20rem;
    width: 100%;
    top: -20rem;
    background: green;
}


.isi_child1 {
    position: relative;
    z-index: 2;
}